---
layout: base
pageable: true
---
- content_for :head do
  %link{:href => "/feed.xml", :rel => "alternate", :type => "application/atom+xml"}/

- content_for :title do
  = "自由风暴"

.sub-nav-bar
  .row
    .large-7.columns
      %h4
        %a{href: '#'}= '所有博客'
.row.main-content
  .large-3.large-push-9.small-12.columns
    .right-content
      %h3 所有标签
      .tags
        - blog.tags.each do |tag, articles|
          = link_to tag, tag_path(tag), :class => 'button secondary round extiny'
      %hr/
      %ul.no-bullet.media
        %li
          = link_to '/feed.xml' do
            %i.fa.fa-rss
          = link_to 'https://github.com/free-storm' do
            %i.fa.fa-github
      %hr/
      %h3 友情链接
      %ul.no-bullet
        %li
          = link_to 'http://isekai.me' do
            = '伶鼬'
        %li
          = link_to 'http://shiningray.cn' do
            = 'Shining Ray'
  .large-9.large-pull-3.small-12.columns
    .right-content
      - page_articles.each_with_index do |article, i|
        - if i > 0
          %hr/
        %h2= link_to article.title, article
        = partial '/article', :locals => {:article => article, :digest => true}
      = partial '/pagination', :locals => { |
          :paginate => paginate,               |
          :next_page => next_page,             |
          :prev_page => prev_page,             |
          :num_pages => num_pages,             |
          :page_number => page_number          |
        }                                      |
